<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>ilGambino</display-name>
    <servlet>
        <servlet-name>IngresoServlet</servlet-name>
        <servlet-class>com.IngresoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>com.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>com.PedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>com.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>com.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>com.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto_1Servlet</servlet-name>
        <servlet-class>com.Producto_1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarEditarServlet</servlet-name>
        <servlet-class>com.ConfirmarEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarEditarProductoServlet</servlet-name>
        <servlet-class>com.ConfirmarEditarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnadirCarritoServlet</servlet-name>
        <servlet-class>com.AnadirCarritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoServlet</servlet-name>
        <servlet-class>com.CarritoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresoServlet</servlet-name>
        <url-pattern>/Ingreso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/Pedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto_1Servlet</servlet-name>
        <url-pattern>/Producto_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnadirCarritoServlet</servlet-name>
        <url-pattern>/AnadirCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoServlet</servlet-name>
        <url-pattern>/Carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarEditarProductoServlet</servlet-name>
        <url-pattern>/ConfirmarEditarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarEditarServlet</servlet-name>
        <url-pattern>/ConfirmarEditar</url-pattern>
    </servlet-mapping>
</web-app>
